html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0; /* Prevent default body margin */
}

#root {
    background-color: #fafafa;
    /* Removed position: fixed to allow scrolling */
    position: relative; /* Or simply remove this line as it defaults to 'relative' */
}

body {
    overflow: auto; /* Ensure page can scroll */
}
.mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100% round 0px);
  }